<div class="container"></div>

<div class="shop-items blocky">
  <div class="container">

    <div class="row">

      <div class="col-md-6 col-sm-6 col-xs-12">
        <h1>Fortune Cookie Shop</h1>
        <p>Select fortune cookies below to add them to your cart.</p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 pull-right" shopping-cart></div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Featured Fortune Cookies</h3>
          </div>
          <div class="box-body">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>Fortune Cookie Quote</th>
                <th>Price</th>
                <th>Buy</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let product of products">
                <td>{{ product.quote }}</td>
                <td>{{ product.price | cents | currency:'EUR':true }}</td>
                <td class="pull-right"><a (click)="addToCart(product)" class="btn btn-danger btn-sm">Add to Cart</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
