target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# contains the result of the angular build process and thus should not be under version control
src/main/resources/public

